.form {
  @include border(red);
  width: 100%;
  height: fit-content;
  // padding: 1rem;
  box-shadow: 2px 1px 30px 2px rgba(98, 100, 235, 0.5);

  &__title {
    @include border(green);
    &__content {
      font-size: 2rem;
      padding: 1rem;
      color: royalblue;
      text-decoration: underline;
    }
    &__desc {
      padding: 1rem;
      width: 230px;
      color: grey;
    }
  }
  .formart {
    position: absolute;
    right: 0px;
    z-index: -10;
    svg {
      width: 600px;
      height: 800px;
      fill: orange;
      // border:1px solid green;
    }
  }
  .signOptions {
    height: 500px;
    width: 500px;
    margin: 10px 300px;
    box-shadow: 2px 1px 21px 2px #ddd7d7;
    @include border(rebeccapurple);

    &__header {
      @include border(rebeccapurple);
      padding: 1rem 0rem 0 2rem;
      margin: 10px 0;
    }

    &__optionsList {
      width: 500px;
      height: inherit;
      @include border(rebeccapurple);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__option {
        @include border(cyan);
        // padding: 1rem;
        height: 70px;
        margin: 0px 0 50px 0;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          height: 70px;
          width: 400px;
          border: none;
          font-size: 1.2rem;
          color: #fff;
          border-radius: 4px;
          cursor: pointer;
        }
        #Fb {
          background: royalblue;
          box-shadow: 2px 1px 21px 2px lighten(royalblue, 20%);
        }
        #Gg {
          background: lighten(red, 20%);
          box-shadow: 2px 1px 21px 2px lighten(rgb(236, 87, 87), 20%);
        }

        #Em {
          background: red;
          box-shadow: 2px 1px 21px 2px lighten(red, 20%);
        }
      }
    }
  }
}
.manualSignUp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include border(red);
  box-shadow: 2px 1px 30px 2px rgba(98, 100, 235, 0.5);

  .manualPart1 {
    background: #423399;
    background: linear-gradient(to top, #663399, #333599);
    width: 900px;
    clip-path: polygon(0 100%, 0% 5%, 30% 10%, 100% 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    padding: 1rem 4rem;

    .form2 {
      // margin: 0 100px;
      .inputFile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        z-index: -1;
      }
      .inputFile + label {
        font-size: 1.25em;
        font-weight: 700;
        color: #fff;
        width: 200px;
        height: 100px;
        background-color: transparent;
        border-radius: 5px;
        border: 5px dotted #ccc;
        text-align: center;
        display: inline-block;
        cursor: pointer;
      }

      .inputFile:focus + label,
      .inputFile + label:hover {
        background-color: red;
      }
      .inputFile:focus + label {
        outline: 1px dotted #fff;
        outline: -webkit-focus-ring-color auto 5px;
      }
    }
    .logo {
      position: relative;
      top: 30px;
      h3 {
        font-weight: 100;
        font-size: 2rem;
      }
    }
  }
  .manualPart2 {
    @include border(pink);
    padding: 1rem;
    position: relative;
    top: 20px;
    h2 {
      font-weight: 100;
      font-size: 2rem;
    }
  }
  form {
    @include border(royalblue);
    height: inherit;
    width: 600px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 50px 0;
    // box-shadow: 2px 1px 30px 2px rgba(98, 100, 235, 0.5);

    .form__field {
      @include border(purple);
      padding: 1rem;
      height: 100px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // align-items: center;

      label {
        font-size: 1rem;
      }
      input {
        height: 30px;
        width: 300px;
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        background: #3469db;
        color: #fff;
      }
      button {
        height: 50px;
        width: 300px;
        color: #fff;
        font-size: 1.1rem;
        background: linear-gradient(
          to right,
          royalblue,
          deepskyblue,
          lightskyblue
        );
        box-shadow: 2px 1px 21px 2px lighten(rgb(65, 105, 225), 20%);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
          background: linear-gradient(
            to right,
            deepskyblue,
            lightskyblue ,royalblue
          );
        }
      }
    }
  }
  .have-account{
    text-align:center;
    @include border(black);
  }
}

